
body{
    background-color: #0A0809;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
}
.logo img {
    height: 40px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    justify-self: center;
}
.nav-links a {
    position: relative;
    padding: 10px 20px;
}
.nav-links  a {
    text-decoration: none;
    color: white;
    font-weight: regular;
    font-size: 18px;
    position: relative;
    padding-bottom: 5px;
}
.nav-links  a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.nav-links a:hover::after {
    width: 60%;
}