@font-face {
    font-family: 'AbhayaLibre-Bold';
    src: url(./assets/font/AbhayaLibre-Bold.ttf);
}

@font-face {
    font-family: 'AbhayaLibre-Regular';
    src: url(./assets/font/AbhayaLibre-Regular.ttf);
}

:root{
    --verde: #63783D
    --preto: #0A0809
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

