body {
  background-color: #0a0809;
}

.navbar {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.nav-links a {
  padding: 10px 20px;
}

.nav-links a {
  font-family: "Abhaya Libre";
  text-decoration: none;
  color: #d4d4d4;
  font-weight: 100;
  font-size: 1.3vw;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
  display: inline-block;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links a:hover::after {
  width: 60%;
}

.text-nav {
  display: flex;
}

.logo img {
  height: 2.5vw;
  user-select: none;
  position: absolute;
  left: 1%;
  top: 1%;
}

@media screen and (max-width: 1000px) {
  .nav-links a {
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  .nav-links a {
    font-size: 3vw;
  }
}
