<nav>
  <img src="../../assets/img/logos/logo.png" class="logo" />
  <ul>
    <li>
      <a href="../../pages/home/home.html">Home</a>
      <a href="../../pages/servicos_adm/servicos_adm.html">Serviços</a>
      <a href="../../pages/calendario/calendario_adm.html">Calendário</a>
    </li>
  </ul>
  <img
    src="../../assets/img/navbar/user.png"
    class="user-pic"
    onclick="toggleMenu()"
  />

  <div class="sub-menu-wrap" id="subMenu">
    <div class="sub-menu">
      <div class="user-info">
        <img src="../../assets/img/navbar/user-black.png" alt="" />
        <h3>Nome do Usuário</h3>
      </div>
      <hr />

      <a href="#" class="sub-menu-link"
        ><span class="material-symbols-outlined"> manage_accounts </span>
        <p>Editar Perfil</p>
      </a>
      <a href="#" class="sub-menu-link"
        ><span class="material-symbols-outlined">logout</span>
        <p>Sair</p>
      </a>
    </div>
  </div>
</nav>
