<div class="footer-container">
  <div class="left-footer">
    <p id="p-footer">Pompeia - SP</p>
    <p id="p-footer">Carlos Bueno de Toledo, 63</p>
    <hr />
    <p id="p-footer">17580-057</p>
  </div>

  <div class="contato">
    <p>Entre em contato conosco!</p>
    <div class="redes-sociais">
      <a href="#">
        <img src="../../assets/img/logos/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://www.instagram.com/imagemartphoto/">
        <img src="../../assets/img/logos/instagram.png" alt="Instagram" />
      </a>
      <a href="https://api.whatsapp.com/send?phone=5514999034536">
        <img src="../../assets/img/logos/whatsapp.png" alt="WhatsApp" />
      </a>
    </div>
  </div>

  <div class="empresa">
    <img src="../../assets/img/logos/logo.png" alt="Logo Imagem Art" />
    <div class="nomeEmpresa">
      <p class="nome-empresa">IMAGEM ART</p>
      <p class="nome-empresa1">photo e vídeo</p>
    </div>
  </div>
</div>
