<footer>
  <p class="local">Pompeia - SP</p>
  <p class="local">Carlos Bueno de Toledo, 63 - 17580-057</p>
  <p class="linha3"></p>

  <p class="local">Entre em contato conosco!</p>
  <div class="redes-sociais">
    <a href="#"
      ><img src="../assets/img/logotipo-do-linkedin (1).png" alt=""
    /></a>
    <a href="https://www.instagram.com/imagemartphoto/"
      ><img src="../assets/img/instagram (1).png" alt=""
    /></a>
    <a href="#"><img src="../assets/img/whatsapp (1).png" alt="" /></a>
  </div>
  <div class="empresaLogo">
    <img src="../assets/img/logo.png" alt="" class="logo-artfoto" />
    <div class="nomeEmpresa">
      <p class="nome-empresa">IMAGEM ART</p>
      <p class="nome-empresa1">photo e vídeo</p>
    </div>
  </div>
</footer>
