* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #e7e7e8;
  /* overflow-x: hidden; */
}

.footer-container {
  display: flex;
  margin-top: 1rem;
  width: 100vw;
  background-color: #282828;
  align-items: center;
  padding: 1.4rem 1.8rem;
  justify-content: space-between;
}

.left-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3vw;
}

hr {
  width: 13.5rem;
  border: none;
  height: 2px;
  background-color: #63783d;
}

#p-footer {
  color: #e7e7e8;
  font-family: "Montserrat";
  font-size: clamp(1rem, 1.2vw, 1rem);
}

.contato {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 2vw, 1rem);
}

.redes-sociais img {
  width: clamp(1.5rem, 2vw, 2rem);
  height: auto;
}

.empresa {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.empresa img {
  width: clamp(3rem, 5vw, 5rem);
  height: auto;
}

.nome-empresa {
  color: #e7e7e8;
  font-family: "Montserrat";
  font-size: clamp(0.7rem, 2vw, 1.4rem);
  font-weight: 700;
  letter-spacing: 1.6px;
  text-align: center;
}

.nome-empresa1 {
  color: #63783d;
  font-family: "Montserrat";
  font-size: clamp(0.7rem, 2vw, 1.4rem);
  font-weight: 700;
  letter-spacing: 1.6px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .left-footer {
    gap: clamp(0.5rem, 2vw, 1rem);
  }

  .contato {
    gap: clamp(0.3rem, 2vw, 1.7rem);
  }

  .left-footer,
  .contato,
  .empresa {
    align-items: center;
    text-align: center;
  }

  .redes-sociais {
    gap: 1rem;
  }

  .empresa img {
    width: clamp(4rem, 8vw, 6rem);
  }
}
