* {
    box-sizing: border-box;

}

@font-face {
    font-family: 'AbhayaLibre-Bold';
    src: url('../assets/font/AbhayaLibre-Bold.ttf');
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    display: block;
    overflow-x: hidden;
}


.inicio {
    display: flex;
    align-items: center;
}

.loja {

    font-family: "Montserrat";

    user-select: none;
}

.titulo {
    margin-left: 4%;
    display: flex;
    text-decoration: none;
    color: #E7E7E8;
    font-size: 6vw;
    letter-spacing: 5%;
    font-weight: bold;
}

.titulo {
    animation: slideInLeft 1.5s ease-in 1 normal both;
}

.titulo2 {
    margin-left: 4%;
    color: #63783d;
    font-size: 4vw;
    font-weight: bold;
}

.titulo2 {
    animation: slideInLeft 1.8s ease-in 1 normal both;
}




.linha {
    display: flex;
    justify-content: flex-start;
    margin-right: 3%;
    float: left;
    width: 100%;
    /* mudar dps */
    position: fixed;
    z-index: -2;
    top: 5.5%;
    user-select: none;
}

.fotoinicial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre {
    display: flex;
    user-select: none;
}

.polaroid {
    width: 100%;
    height: 100%;
}

.sobrenos {

    color: #E7E7E8;
    font-size: 65px;

    font-family: "Montserrat";
    letter-spacing: 8%;
    font-weight: bold;
}

.linhas {
    width: 630px;
    height: 2px;
    background-color: #63783d;
    margin-top: 38%;
    margin-left: 23%;
    z-index: -1;
    box-shadow: #63783d;
}

.linhas2 {
    position: relative;
    width: 59%;
    height: 2px;
    background-color: #63783d;
    margin-top: 13rem;
    margin-left: 490px;
    transform: rotate(90deg)
}

.text-sobre1 {
    color: #E7E7E8;
    font-family: "Montserrat";
    margin-top: -19%;
    margin-left: 16.5%;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    width: 60%;
    text-align: right;

}

.botao {
    background-color: #282828;
    /*  margin-top: 0;
    margin-left: 90px; */
    border-radius: 8px;
    margin: 16px;
    text-decoration: none;



}

.titulo-eventos {
    & p {
        text-decoration: none;
    }
}

.botao img {
    width: 400px;
}


.imagemeventos {
    margin-left: 1px;
}

.titulo-eventos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-eventos p {
    color: #E7E7E8;
    font-family: "Montserrat";
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;

}

.tituloeventos {
    align-items: center;
    justify-content: center;
    display: flex;
    color: #E7E7E8;
    text-decoration: none;
    font-family: "Montserrat";
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 85px;
    user-select: none;
    margin: 0;
    padding: 0;
    transform: rotate(90deg);

}

.titulo-eventos a {
    display: flex;
    color: #E7E7E8;
    background-color: #63783d;
    text-decoration: none;
    font-family: "AbhayaLibre-Bold";
    padding: 8% 60%;
    border-radius: 3px;
    letter-spacing: 5px;
    /*   margin-top: 18px;*/
    margin-bottom: 1.5rem;
}


.botoes-eventos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}



.linha3 {
    background-color: #63783d;
    margin-top: 9px;
    margin-left: 12px;
}



.teste {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 9rem;
}

.botao {
    transition-duration: 0.5s;
}

.botao:hover {
    transform: translate(0, -5px);
    background-color: #1e1f1a;
    cursor: pointer;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }

}


.botoes-eventos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}



.linha3 {
    background-color: #63783d;
    margin-top: 9px;
    margin-left: 12px;
}



.teste {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}

.botao {
    transition-duration: 0.5s;
}

.botao:hover {
    transform: translate(0, -5px);
    background-color: #1e1f1a;
    cursor: pointer;
}

.sobrenos {
    text-align: end;
    color: #E7E7E8;
    font-size: 65px;
    margin-top: 16%;
    margin-left: 15%;
    font-family: "Montserrat";
    position: absolute;
    z-index: -1;
    letter-spacing: 6px;
    font-weight: bold;
}

.linhas {
    height: 2px;
    background-color: #63783d;
    margin-top: 40%;
    padding-left: 70%;
    z-index: -1;
    box-shadow: #63783d;
}

.linhas2 {
    width: 55%;
    height: 2px;
    background-color: #63783d;
    margin-top: 17%;
    margin-left: 50%;
    transform: rotate(90deg)
}

.text-sobre1 {
    color: #E7E7E8;
    font-family: "Montserrat";
    margin-top: -15%;
    margin-left: 16.5%;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 60%;
    text-align: right;

}


@media (max-width: 375px) {
    .foto_titulo {
        display: flex;
        align-items: center;
        margin: 5% -50%;
        justify-content: space-evenly;
        width: 125%;
        z-index: -1;
    }

    .titulo {
        display: flex;
        margin-right: 1%;
        font-family: "Montserrat";
        text-decoration: none;
        margin-top: -46%;
        color: #E7E7E8;
        font-size: 25px;
        position: relative;
        padding-bottom: 2%;
        margin-left: 40%;
        gap: 5%;
        user-select: none;
        letter-spacing: 5%;
        font-weight: bold;

    }

    .titulo2 {
        color: #63783d;
        font-family: "Montserrat";
        top: 28%;
        position: absolute;
        left: 4.9%;
        font-size: 7.5px;
        user-select: none;
        font-weight: bold;
    }

    .linha {
        display: flex;
        justify-content: flex-start;
        margin-left: -115%;
        float: left;
        width: 1%;
        z-index: -1;
        top: -5%;
        user-select: none;
    }

    .titulo-eventos {
        & p {
            text-decoration: none;
        }
    }

    .botao img {
        width: 100px;
    }


    .imagemeventos {
        margin-left: 1px;
    }

    .titulo-eventos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .titulo-eventos p {
        color: #E7E7E8;
        font-family: "Montserrat";
        font-size: 1px;
        letter-spacing: 2px;
        font-weight: 700;
        text-decoration: none;

    }

    .polaroid {

        & img {
            width: 10vw;
            height: 1vh;
        }
    }

    .polaroid {
        display: none;
    }

    .tituloeventos {
        align-items: center;
        justify-content: center;
        display: flex;
        color: #E7E7E8;
        text-decoration: none;
        font-family: "Montserrat";
        letter-spacing: 2px;
        font-weight: 800;
        font-size: 8px;
        user-select: none;
        margin: 0;
        padding: 0;
        transform: rotate(90deg);

    }

    .titulo-eventos a {
        display: flex;
        color: #E7E7E8;
        background-color: #63783d;
        text-decoration: none;
        font-family: "AbhayaLibre-Bold";
        padding: 8% 60%;
        border-radius: 3px;
        letter-spacing: 5px;
        /*   margin-top: 18px;*/
        margin-bottom: 1.5rem;
    }


    .botoes-eventos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }



    .linha3 {
        background-color: #63783d;
        margin-top: 9px;
        margin-left: 12px;
    }



    .teste {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
    }

    .botao {
        transition-duration: 0.5s;
    }

    .botao:hover {
        transform: translate(0, -5px);
        background-color: #1e1f1a;
        cursor: pointer;
    }

    .sobrenos {
        text-align: end;
        color: #E7E7E8;
        font-size: 15px;
        margin-top: 15%;
        margin-left: 38%;
        font-family: "Montserrat";
        position: absolute;
        z-index: -1;
        letter-spacing: 8%;
        font-weight: bold;
    }

    .linhas {
        display: none;
    }

    .linhas2 {
        display: none;
    }

    .text-sobre-responsive {
        color: #E7E7E8;
        font-family: "Montserrat";
        margin-top: 30%;
        margin-left: 6.7%;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2px;
        width: 90%;
        text-align: center;

    }

    .text-sobre1 {
        display: none;

    }
}