/* ESSENCIAIS */
:root {
  --primary-clr: #a6b826;
  --secundary-clr: #838d35;
  --tertiary-clr: #cbd4b6;
  --white: #e7e7e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #0a0809;
}

/* CONTAINER SERVIÇO */
.serviceContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 12px;
  color: var(--white);
  text-align: center;
}

.line {
  background-color: var(--white);
  width: 600px;
  height: 1px;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* BOTÃO ADICIONAR SERVIÇO */
.image-container img {
  width: 100%;
  height: auto;
  max-width: 8rem;
  max-height: 8rem;
  cursor: pointer;
  transition: filter 0.5s ease, transform 0.1s ease;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container .plus-symbol {
  position: absolute;
  font-size: 4.5rem;
  color: var(--white);
  pointer-events: none;
  transition: filter 0.5s ease, transform 0.1s ease;
}

.image-container:active img,
.image-container:active .plus-symbol {
  filter: brightness(0.1);
  transform: scale(0.95);
}

.addItem p {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/* MODAL */
.modal {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282828;
  padding: 2rem;
  width: 80%;
  height: 80%;
  border: 2px solid #393939;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}

/* CONFIGURAÇÃO CLOSEBAR */
.closeBar {
  position: absolute;
  top: 9%;
  right: 10%;
  padding: 1rem;
}

.close {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--secundary-clr);
  text-decoration: none;
  cursor: pointer;
}

/* CONFIGURAÇÃO INPUT */
.serviceForm input {
  width: 40rem;
  height: 5rem;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(231, 231, 232, 0.7);
  border-radius: 10px;
  border: 2px solid #1d1d1d;
  text-align: center;
  box-shadow: inset 0px -13.58px 18.11px rgba(0, 0, 0, 0.05),
    inset 0px 9.05px 13.58px rgba(255, 255, 255, 0.08);
  outline: none;
}

/* CONFIGURAÇÃO DA TOPBAR */
.topBar {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.addItemForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topBar .addItemForm img {
  width: 100%;
  height: auto;
  max-width: 15rem;
  max-height: 15rem;
}

.addItemForm img {
  width: 100%;
  height: auto;
  max-width: 8rem;
  max-height: 8rem;
  transition: filter 0.5s ease, transform 0.1s ease;
}

.addItemForm .plus-symbol {
  position: absolute;
  font-size: 4.5rem;
  color: var(--white);
  pointer-events: none;
  transition: filter 0.5s ease, transform 0.1s ease;
}

.addItemForm:active img,
.addItemForm:active .plus-symbol {
  filter: brightness(0.1);
  transform: scale(0.95);
}

.addItemForm img#selectedImage {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
}

.topBarRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.topBarRight .buttons {
  display: flex;
  gap: 1rem;
}

.topBarRight button {
  width: 10rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.04);
  color: var(--white);
  border-radius: 10px;
  border: 2px solid #1d1d1d;
  box-shadow: inset 0px -13.58px 18.11px rgba(0, 0, 0, 0.05),
    inset 0px 9.05px 13.58px rgba(255, 255, 255, 0.08);
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.1s ease, background-color 0.1s ease;
}

.topBarRight button:active {
  background-color: var(--secundary-clr);
  filter: brightness(0.8);
  transform: scale(0.95);
}

/* Estilos para os itens de serviço */
.service-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: filter 0.5s ease, transform 0.1s ease;
}

.service-item .image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item .image-container img {
  width: 100%;
  height: auto;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%;
}

.service-item .service-image {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%;
}

.service-item h3 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-top: 10px;
}

.service-item:active .image-container img,
.service-item:active h3 {
  filter: brightness(0.1);
  transform: scale(0.95);
}

/* Estilos para a tabela de detalhes */
#detailsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#detailsTable th,
#detailsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}
#detailsTable th {
  background-color: #f2f2f2;
  text-align: left;
}
#detailsTable td[contenteditable="true"]::before {
  content: attr(data-placeholder);
  color: #999;
}
#detailsTable td[contenteditable="true"]:focus::before {
  content: "";
}
#detailsTable td.placeholder {
  color: #999;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#detailsTable {
  flex: 1;
  min-width: 300px;
}

#saveBtn,
#deleteBtn {
  margin-left: 10px;
}
