:root {
  --primary-clr: #a6b826;
  --secundary-clr: #838d35;
  --tertiary-clr: #cbd4b6;
  --white: #e7e7e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #0a0809;
  width: 100%;
  padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 3vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: clamp(2rem, 5vw, 3rem);
}

.user-pic {
  width: clamp(1.5rem, 4vw, 2rem);
  border-radius: 50%;
  cursor: pointer;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  margin: clamp(0.2rem, 1vw, 1rem);
  font-size: clamp(0.8rem, 1.9vw, 1.1rem);
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: clamp(1rem, 2.5vw, 2rem);
  width: clamp(9rem, 18vw, 20vw);
  opacity: 0;
  pointer-events: none;
  clip-path: inset(0 0 100% 0);
  transition: opacity 1s ease, clip-path 1s ease;
}

.sub-menu-wrap.open-menu {
  opacity: 1;
  pointer-events: auto;
  clip-path: inset(0 0 0 0);
}

.sub-menu {
  background-color: var(--white);
  padding: clamp(1rem, 2vw, 1.5rem);
  margin-top: clamp(0.5rem, 1vw, 1rem);
  border-radius: 0.5rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 700;
  color: #0a0809;
  font-size: clamp(0.7rem, 2vw, 1.25rem);
}

.user-info img {
  width: clamp(3rem, 6vw, 4rem);
  border-radius: 50%;
  margin-right: clamp(0.5rem, 1vw, 1rem);
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: clamp(0.5rem, 1vw, 1rem) 0 clamp(0.5rem, 1vw, 1rem);
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secundary-clr);
  margin: clamp(0.5rem, 1vw, 1rem) 0;
  font-weight: 600;
}

.sub-menu-link p {
  width: 72%;
  font-size: clamp(0.85rem, 1.5vw, 1rem);
}

.sub-menu-link span {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
  font-weight: 700;
}

.sub-menu-link:hover p {
  font-weight: 700;
}
