/* ESSENCIAIS */
:root {
  --primary-clr: #a6b826;
  --secundary-clr: #838d35;
  --tertiary-clr: #cbd4b6;
  --white: #e7e7e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0a0809;

  /* overflow-x: hidden; */
}

.center {
  display: flex;
  justify-content: center;
  min-height: 75.2vh;
}

/* CONTAINER SERVIÇO */
.serviceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 span {
  font-size: clamp(2rem, 2.3vw, 2.4rem);
  font-family: "Montserrat";
  font-weight: bold;
  color: var(--white);
  text-align: center;
  letter-spacing: 8px;
  font-weight: 700;
}

h1 span:last-child {
  letter-spacing: 0;
}

.line {
  background-color: var(--white);
  min-width: clamp(15rem, 35vw, 35vw);
  height: 1px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.itens {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  width: 100%;
  padding: 0 2rem;
  justify-items: center;
  align-items: start;
}

.service-item,
.addItem {
  width: clamp(8rem, 15vw, 12rem);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOTÃO ADICIONAR SERVIÇO */
.image-container img {
  max-width: clamp(8rem, 15vw, 10rem);
  max-height: clamp(8rem, 15vw, 10rem);
  cursor: pointer;
}

.service-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.addItem {
  transition: filter 0.5s ease, transform 0.1s ease;
}
.addItem:active {
  filter: brightness(0.1);
  transform: scale(0.95);
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.image-container .plus-symbol {
  position: absolute;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  color: var(--white);
  pointer-events: none;
}

.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addItem p {
  text-align: center;
  max-width: 150px;
  color: var(--white);
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

/* MODAL */
.modal {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282828;
  padding: 2rem;
  width: 80%;
  height: 80%;
  border: 2px solid #393939;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}

/* CONFIGURAÇÃO CLOSEBAR */
.closeBar {
  position: absolute;
  top: 9%;
  right: 10%;
  padding: 1rem;
}

.close {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--secundary-clr);
  text-decoration: none;
  cursor: pointer;
}

/* CONFIGURAÇÃO INPUT */
.serviceForm input {
  width: clamp(15rem, 30vw, 30vw);
  height: clamp(3.5rem, 5vw, 5vw);
  display: flex;
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(231, 231, 232, 0.7);
  border-radius: 10px;
  border: 2px solid #1d1d1d;
  text-align: center;
  box-shadow: inset 0px -13.58px 18.11px rgba(0, 0, 0, 0.05),
    inset 0px 9.05px 13.58px rgba(255, 255, 255, 0.08);
  outline: none;
}

/* CONFIGURAÇÃO DA TOPBAR */
.topBar {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 4%;
}

.addItemForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addItemForm img {
  width: 100%;
  height: auto;
  width: clamp(8rem, 13vw, 13vw);
  height: auto;
  transition: filter 0.5s ease, transform 0.1s ease;
}

.addItemForm .plus-symbol {
  position: absolute;
  font-size: 4.5rem;
  color: var(--white);
  pointer-events: none;
  transition: filter 0.5s ease, transform 0.1s ease;
}

.addItemForm:active img,
.addItemForm:active .plus-symbol {
  filter: brightness(0.1);
  transform: scale(0.95);
}

.addItemForm img#selectedImage {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
}

.topBarRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.topBarRight .buttons {
  display: flex;
  gap: clamp(1.2rem, 2vw, 2vw);
}

.topBarRight button {
  width: clamp(7.2rem, 10vw, 10vw);
  height: clamp(3.2rem, 5vw, 4vw);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.04);
  color: var(--white);
  border-radius: 10px;
  border: 2px solid #1d1d1d;
  box-shadow: inset 0px -13.58px 18.11px rgba(0, 0, 0, 0.05),
    inset 0px 9.05px 13.58px rgba(255, 255, 255, 0.08);
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.1s ease, background-color 0.1s ease;
}

.topBarRight button:active {
  background-color: var(--secundary-clr);
  filter: brightness(0.8);
  transform: scale(0.95);
}

.service-item {
  max-width: 10rem !important;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.service-item .image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item .image-container img {
  width: 100%;
  height: auto;
  max-width: 10rem;
  max-height: 10rem;
}

.service-item .service-image {
  position: absolute;
  width: 70% !important;
  height: 70% !important;
}

.service-item h3 {
  max-width: 100%;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  white-space: pre-wrap;
  word-break: normal;
  hyphens: manual;
}

.service-item {
  transition: filter 0.5s ease, transform 0.1s ease;
}

.service-item:active {
  filter: brightness(0.1);
  transform: scale(0.95);
}

/* Estilos para a tabela de detalhes */
#detailsTable {
  font-family: "Montserrat";
  width: 80%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  border: 2px solid #1d1d1d;
  text-align: center;
  box-shadow: inset 0px -13.58px 18.11px rgba(0, 0, 0, 0.05),
    inset 0px 9.05px 13.58px rgba(255, 255, 255, 0.05);
  overflow: hidden;
}

tr td {
  word-break: break-word;
  white-space: pre-wrap;
  max-width: 720px;
}

#detailsTable th,
#detailsTable td {
  padding: 10px;
  outline: none;
}

.table-header th {
  font-weight: Bold;
  font-size: 18px;
  height: 6vh;
  align-items: center;
  color: #e7e7e8;
  vertical-align: middle;
  border-bottom: 1px solid #63783d;
}

.table-header th:not(:last-child) {
  border-right: 1px solid #63783d;
}

#detailsTable td {
  color: #e7e7e8;
  text-align: left;
}

#detailsTable td:not(:last-child) {
  color: #e7e7e8;
  text-align: left;
  border-right: 1px solid #63783d;
}

#detailsTable tbody tr:not(:last-child) td {
  border-bottom: 1px solid #63783d;
}

#detailsTable td[contenteditable="true"]::before {
  content: attr(data-placeholder);
  color: #999;
}
#detailsTable td[contenteditable="true"]:focus::before {
  content: "";
}
#detailsTable td.placeholder {
  color: #999;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  max-height: calc(40px * 5);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.table-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #63783d;
  border-radius: 10px;
}

#detailsTable {
  flex: 1;
}

.deleteRowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #e7e7e8;
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease, filter 0.1s ease, background-color 0.1s ease;
}

.deleteRowBtn:active {
  color: var(--secundary-clr);
  filter: brightness(0.8);
  transform: scale(0.95);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .topBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .topBarRight {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  #detailsTable th,
  #detailsTable td {
    padding: 12px;
  }

  .table-header th {
    font-size: 16px;
  }

  #detailsTable {
    font-size: 14px;
  }

  #detailsTable th,
  #detailsTable td {
    padding: 8px;
  }

  .itens {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 500px) {
  #detailsTable th,
  #detailsTable td {
    padding: 6px;
  }

  .table-header th {
    font-size: 10px;
  }

  #detailsTable {
    font-size: 8px;
  }

  #detailsTable th,
  #detailsTable td {
    padding: 5px;
  }

  .itens {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}
