:root {
  --primary-clr: #a6b826;
  --secundary-clr: #838d35;
  --tertiary-clr: #cbd4b6;
  --white: #e7e7e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #0a0809;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  position: relative;
  width: clamp(18rem, 34vw, 40vw);
  color: #e7e7e8;
  padding: 2rem;
  border-radius: 15px;
  background-color: #282828;
  z-index: 0;
  overflow: hidden;
}

.form-container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(to bottom, #4b4b4b, #393939);
  border-radius: 15px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

h1 {
  font-family: "Montserrat";
  font-size: clamp(1.5rem, 2vw, 2vw);
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-clr);
  letter-spacing: 1.5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-container {
  position: relative;
  width: fit-content;
}

.email-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-radius: 10px;
}

.email-container {
  user-select: none;
}

.informations label {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: #e7e7e8;
  font-weight: 600;
}

.informations input {
  display: flex;
  padding: 1rem;
  text-align: start;
  outline: none;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  width: clamp(12rem, 15vw, 15vw);
  height: clamp(2rem, 3vw, 3rem);
  font-size: clamp(0.8rem, 1vw, 1rem);
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(231, 231, 232, 0.7);
  border-radius: 10px;
  border: 2px solid #1d1d1d;
  box-shadow: inset 0px -13.58px 18.11px rgba(0, 0, 0, 0.05),
    inset 0px 9.05px 13.58px rgba(255, 255, 255, 0.08);
}

.informations input:focus {
  border: 2px solid var(--secundary-clr);
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-51%);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.toggle-password img.password-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  pointer-events: none;
  filter: invert(88%) sepia(4%) saturate(0%) hue-rotate(180deg) brightness(96%)
    contrast(92%);
}

.saveButton {
  width: clamp(10rem, 8vw, 8vw);
  height: clamp(2.5rem, 3vw, 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.04);
  color: var(--white);
  border-radius: 10px;
  border: 2px solid #1d1d1d;
  box-shadow: inset 0px -13.58px 18.11px rgba(0, 0, 0, 0.05),
    inset 0px 9.05px 13.58px rgba(255, 255, 255, 0.08);
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.1s ease, background-color 0.1s ease;
}

.saveButton:hover {
  background-color: var(--secundary-clr);
  filter: brightness(0.8);
  transform: scale(0.95);
}
